<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appointment</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-4">
        <h1>Appointment</h1>
        <form action="/home" method="post">
            
            <button type="submit" class="btn btn-primary">Go Back</button>
        </form>
        <table class='table table-striped'>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Condition</th>
                    <th>Address</th>
                    <th>Appointment</th>
                    <th>Phone</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% results.forEach(item => { %>
                    <tr>
                        <td><%= item.name %></td>
                        <td><%= item.age %></td>
                        <td><%= item.conditions %></td>
                        <td><%= item.address %></td>
                        <td><%= item.appointment %></td>
                        <td><%= item.phone %></td>
                        <td>
                            <form action="/delete" method="POST">
                                <input type="hidden" name="id" value="<%= item.id %>">
                            </form>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
</body>
</html>
